/* ABSTRACTS */
@use "abstracts/variables";

/* BASE */
@use "base/normalize";
@use "base/typography";

/* LAYOUT */
@use "layout/header";
@use "layout/footer";

/* COMPONENTS */
@use "components/product-card";
@use "components/nav";
@use "components/form";

/* PAGES */
@use "pages/home";
@use "pages/alta";
@use "pages/contacto";
@use "pages/nosotros";