@use "../abstracts/variables" as v;

.main--form {
  min-height: calc(100vh - 120px); // empuja footer
  padding-top: 7rem; // header fixed
  padding-bottom: v.$spacing-xl;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-image: url("../assets/alta-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-page {
  width: 100%;
  max-width: 720px;

  background-color: v.$color-surface;
  padding: v.$spacing-xl;
  border-radius: v.$radius-lg;
  box-shadow: v.$shadow-md;
}

.form-page__title {
  margin-bottom: v.$spacing-lg;
  font-family: v.$font-secondary;
  font-size: v.$font-size-xl;
  color: v.$color-light;
  text-align: center;
}

@media (max-width: v.$bp-md){
  .form-page{
    width: 90%;
  }
}

@media (max-width: v.$bp-sm){
  
  

  .form-page {
    padding: v.$spacing-lg;
    width: 60%;
  }
}