@use '../abstracts/variables' as v;

.form__group--checkbox {
  flex-direction: row;
  align-items: center;

  label {
    display: flex;
    align-items: center;
    gap: v.$spacing-sm;
    cursor: pointer;
  }

  input[type="checkbox"] {
    width: 16px;
    height: 16px;
  }
}

input[type="file"] {
  padding: v.$spacing-xs;
  background-color: transparent;
  border: none;
  color: v.$color-light;
}

.product-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: v.$spacing-md;
}

.form{
  max-width: 700px;
  margin: 0 auto;
  padding: v.$spacing-lg;

  &__group {
    display: flex;
    flex-direction: column;
    gap: v.$spacing-xs;
  }

  &__group--full {
    grid-column: 1 / -1;
  }
}

@media (max-width: v.$bp-md){
  
  .product-form {
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
  }

  .form-page__title{
    font-size: v.$font-size-sm;
  }

  .form{
    &__group input, &__group textarea, &__group select, &__group--full {
      margin: 0 auto;
      width: 100%;
    }

    &__group label{
      font-size: v.$font-size-sm;
    }

  }

}

@media (max-width: v.$bp-sm) {
  .form {
    padding: v.$spacing-xs;
  }

}

