@use '../abstracts/variables' as v;

.nav{
    margin: 0 1%;
    &__list{
        display: flex;
        gap: 3rem;
        list-style: none;
        padding: 0;
    }

    &__link{
        color: v.$color-light;
        text-decoration: none;
        font-size: v.$font-size-md;
        font-weight: 500;
        position: relative;

        &:hover{
            color: v.$color-accent;
        }

        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 0;
            height: 2px;
            background-color: v.$color-secondary;
            transition: width 0.3s ease;
        }

        &:hover::after{
            width: 100%;
        }

    }
}